.App {
  text-align: center;
}

.userData-main{
  background-color: rgba(204, 255, 255, 0.64);
  margin: 0% 15%;
  border-radius: 15px;
}
.userData{
  border-bottom: 1px dashed black;
  color: black;
  text-align: left;
  padding-left: 2%;
}